P{
    color: blue;
    font-size: 18px;
    text-align: right;
}
#first {
    text-align: center;
    color: green;
    font-weight: bold;
}
#second {
    font-family: Verdana;
    font-size: 18px;
    background-color: cyan;
}